:root {
    --fonte-padrão: 'Anek Telugu', sans-serif;
    --azul-escuro: #0A3871;
    --branco-cenzento: #E5E5E5;
}

body {
    font-family: var(--fonte-padrão);
    background: var(--branco-cenzento);
}

.container {
}

.babecalho {
    height: 80px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border: 1px solid var(--azul-escuro);
    border-radius: 20px;
    height: 5rem;
    width: 15rem;
    margin: 0.5rem 0;
    font-family: var(--fonte-padrão);
}